<div>
  <h1 class="font-bold text-4xl">CANDRA WANA</h1>
  <p class="mt-1 w-3/4">Ruby on Rails developer based in Surakarta. Currently working as VP IT at <%= link_to "Lapangbola", "https://live.lapangbola.com", class: "hover:text-sky-900 hover:underline hover:underline-offset-1", target: "_blank" %>.</p>
  <div class="mt-3">
    <%= mail_to "hi@cdrwn.dev", "hi@cdrwn.dev", class: "hover:text-sky-900 hover:underline hover:underline-offset-1" %>
  </div>
</div>
